Source: nrcradiant
Priority: optional
Maintainer: Walter Doekes <wjdoekes+nrcradiant@osso.nl>
Build-Depends:
 debhelper (>= 9),
 mesa-common-dev,
 libgtk2.0-dev,
 libgtkglext1-dev,
 libxml2-dev,
 libjpeg8-dev,
 libpango1.0-dev,
 zlib1g-dev,
 git,
 subversion,
# unused? but required by dependency-check
 unzip,
 wget,
Standards-Version: 3.9.6
Section: games
Homepage: https://garux.github.io/NRC/
Vcs-Browser: https://github.com/Garux/netradiant-custom
Vcs-Git: https://github.com/Garux/netradiant-custom

Package: nrcradiant
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: nrcradiant-game-quake3
Description: nrcradiant contains (Garux) netradiant-custom and tools
 NetRadiant-custom (NRC) is the open source cross platform level editor for
 idTech games. This package contains the radiant editor, q3map2 compilers and
 (netradiant-custom) bspc/mbspc bot file builder.

Package: nrcradiant-game-quake3
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends:
# There are no shared libs here: so no ${shlibs:Depends},
 ${misc:Depends}
Suggests: nrcradiant
Description: nrcradiant Quake3 (q3) contains the Quake III Arena game files
 NetRadiant-custom (NRC) is the open source cross platform level editor for
 idTech games.
