#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Uncomment this to change the hardening options
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

INSTALL ?= install
MV ?= mv

MAKE_VARIABLES :=
# No downloading of gamepacks.
MAKE_VARIABLES := $(MAKE_VARIABLES) DOWNLOAD_GAMEPACKS=no
# Enable debug build so our binaries are not stripped. But do optimize
# and do not add extra debug assertions.
MAKE_VARIABLES := $(MAKE_VARIABLES) BUILD=debug CFLAGS='-g -O2 -DNDEBUG'
# -Wno-date-time = because SOURCE_DATE_EPOCH envvar already handles this
# -Wno-deprecated-declarations = lots and lots of 'GTimeVal' is
#   deprecated: Use 'GDateTime' instead.
MAKE_VARIABLES := $(MAKE_VARIABLES) CXXFLAGS='-Wno-date-time -Wno-deprecated-declarations'
# Abuse EXE to set our library subdirectory.
MAKE_VARIABLES := $(MAKE_VARIABLES) EXE=$(DEB_HOST_MULTIARCH)
# Add notice who built the files.
MAKE_VARIABLES := $(MAKE_VARIABLES) RADIANT_ABOUTMSG='Custom build by wdoekes/nrcradiant-deb'

%:
	dh $@ --parallel

override_dh_auto_configure:
	# No need to get ./gamapacks-manager stuff here. The dockerfile
	# setup will have downloaded the necessary stuff.
	# BUILD=debug CFLAGS='-g -O2' <-- so we get symbols!
	$(MAKE) $(MAKE_VARIABLES) dependencies-check
	# Optionally, we could download from
	# https://www.dropbox.com/s/b1xpajzfa6yjlzf/netradiant-custom-extra-gamepacks.zip
	# like NRC does. They're extracted to ./install/ directly.

override_dh_auto_build:
	dh_auto_build -- $(MAKE_VARIABLES)

override_dh_auto_test:
	# Nothing to test..
	true

override_dh_auto_install:
	$(INSTALL) -d debian/tmp/usr/bin
	$(MV) install/radiant.$(DEB_HOST_MULTIARCH) debian/tmp/usr/bin/nrcradiant
	$(RM) install/radiant
	#
	# This one is used by q3map2 and some modules..
	$(INSTALL) -d debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant
	mv install/libassimp_.so debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/
	#
	for path in h2data mbspc q2map q3map2 qdata3; do \
	  $(MV) install/$$path.$(DEB_HOST_MULTIARCH) debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/$$path; \
	  $(RM) install/$$path; \
	done
	#
	$(INSTALL) -d debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/modules
	$(INSTALL) -m0644 install/modules/*.so debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/modules/
	$(RM) install/modules/*.so
	$(INSTALL) -d debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/plugins
	$(INSTALL) -m0644 install/plugins/*.so debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/nrcradiant/plugins/
	$(RM) install/plugins/*.so
	#
	$(INSTALL) -d debian/tmp/usr/share/nrcradiant
	for path in bitmaps docs gl global.xlink modules plugins quake3.exclude; do \
	  $(MV) install/$$path debian/tmp/usr/share/nrcradiant/$$path; \
	done
	#
	# Remove suffix from binary calls:
	find games install/gamepacks -name default_build_menu.xml | \
	  xargs sed -i -e 's/[.][[]ExecutableType[]]//g'
	# Replace enginepath with /usr/share/nrcradiant/gamepacks/q3.game/:
	find games install/gamepacks -name q3.game -type f | \
	  xargs sed -i -e 's@enginepath_linux="[^"]*"@enginepath_linux="/usr/share/nrcradiant/gamepacks/q3.game/"@'
	#
	# Now we should only have gamepacks left here. We'll fetch those
	# through the install files.
	$(RM) install/RADIANT_MAJOR install/RADIANT_MINOR
	if test "$$(ls -1 $(CURDIR)/install)" != gamepacks; then \
	  echo "Unexpected leftover files (please fix):" >&2; \
	  ls $(CURDIR)/install >&2; \
	  false; \
	fi
